repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff # Run the linter.
      - id: ruff-format # Run the formatter.
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        files: '\.(js|ts|vue)$'
        pass_filenames: true
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: '\.(js|ts|vue)$'
        pass_filenames: true
