[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-vite = "*"
inertia-django = "*"
psycopg2-binary = "*"
django-seed = "*"
black = "*"

[dev-packages]
django-seed = "*"
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
