[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1.2"
django-vite = "~=3.0.5"
inertia-django = "~=0.6.0"
psycopg2-binary = "~=2.9.10"
pytest = "~=8.3.3"
black = "*"
gunicorn = "~=23.0.0"

[dev-packages]
django-seed = "~=0.3.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
