[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.7"
django-vite = "~=3.0.5"
inertia-django = "~=0.6.0"
psycopg2-binary = "~=2.9.10"
pytest = "~=8.3.3"
black = "*"
python-dotenv = "*"

[dev-packages]
django-seed = "*"
pytest-django = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
