{% extends "base_generic.html" %}

{% block content %}
  <h1>Help</h1>
  <p>
    
    You need a good broadband connection of at least 200kbps.
     
    The player works best in Google Chrome or Mozilla Firefox on Windows 7 onwards. 
    Older systems running Windows XP will struggle to run the site; 
    however, installing Google Chrome should act as a workaround for the present.
     
    You need to have cookies enabled and have security settings set to medium.
     
    If you have a firewall check that your settings allow you to stream video.
  </p>

{% endblock %}
