{% extends "base_generic.html" %}

{% block content %}
  <h1>Subscribe</h1>
  <p>
    <strong>GET A WEEKLY UPDATE</strong>
    At Clayton.TV we strive to bring Christ-centred, biblical videos into one place with fresh content weekly. Our aim is to support and equip Christians around the world. 
    If you find our work helpful, and would like regular email updates from Clayton.TV, please opt-in here (you can opt out at any time).
  </p>


<button name="subscribe_button" id="subscribe_button">Donate</button>

<p>
  You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at enquiries@clayton.tv. 
  We will treat your information with respect. For more information about our <a href="{% url 'privacy' %}">privacy practices please click here.</a>

By clicking above, you agree that we may process your information in accordance with these terms.

We use MailChimp as our marketing automation platform. 
By clicking above to submit this form you acknowledge that the information you provide will be transferred to MailChimp for processing in accordance with their Privacy Policy and Terms.

</p>



{% endblock %}
