{% load django_vite %}
<!DOCTYPE html>
<html class="h-full bg-gray-950" lang="en">
<!--suppress HtmlRequiredTitleElement-->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no" name="viewport">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    {% vite_asset 'js/app.js' %}
</head>
<body class="antialiased h-full text-gray-100 font-sans">
{% block inertia %}Missing inertia...{% endblock %}
</body>
</html>